body {
    font-family: Arial, sans-serif;
    padding: 1em;
    background-color: #f0f0f0;
}

.loading {
    font-size: 2em;
    text-align: center;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-list-item {
    width: 150px;
    margin: 1em;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-list-item img {
    width: 100%;
}

.pokemon-detail {
    text-align: center;
}
